h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  color: darkgray;
  text-decoration: underline;
  margin-left: 5px;
}

a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.bi {
  margin-right: 10px;
}

b {
  font-weight: 500;
}

.links {
    margin-top: 5px;
}
