<h4>{{title}}</h4>
<pre>{{aboutMeGeneralContent}}</pre>
<pre>{{aboutMeGamesContent}}</pre>
<pre>{{aboutMePersonalContent}}</pre>
<hr>
<div>
    <b>Follow me:</b>
    <div class="links">
        <i class="bi bi-github" role="img" aria-label="GitHub">
            <a href={{githubLink}} target="_blank">Github</a>
        </i>
        <i class="bi bi-linkedin" role="img" aria-label="LinkedIn">
            <a class="link" href={{linkedInLink}} target="_blank">LinkedIn</a>
        </i>
    </div>
</div>