<h4>{{title}}</h4>

<div *ngFor="let portfolioItem of portfolioItems; index as i;">
    <mat-card class="card" var #bFlag="var" (mouseover)="bFlag['btnVisible'] = true"
        (mouseleave)="bFlag['btnVisible'] = false">
        <mat-card-header>
            <div mat-card-avatar class="logo"></div>
            <mat-card-title>{{portfolioItem.projectName}}</mat-card-title>
            <mat-card-subtitle>{{portfolioItem.technologies}}</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="{{portfolioItem.image}}" alt="Image of project">
        <mat-card-content>
            <p>
                {{portfolioItem.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button target="_blank" *ngIf="portfolioItem.githubRepo"
                href="{{portfolioItem.githubRepo}}">GITHUB</a>
            <a mat-button target="_blank" *ngIf="portfolioItem.link" href="{{portfolioItem.link}}">LINK</a>
        </mat-card-actions>
    </mat-card>
</div>