div p {
  text-align: left;
}

a:not([href]) {
  color: darkgray;
  text-decoration: underline;
}

a:not([href]):hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

markdown ::ng-deep h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
